{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Site.Params.author }} Clients Use Cases </h1>
    <p>In the journey towards personalizing your digital marketing and advertising, IntentAware is your partner that guides you along the way. Below are examples that demonstrate the milestones customers reach to achieve hyper conversion rates and reap its full benefits.<br> <a href="{{.Params.twitter}}">Follow us on Twitter</a></p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
