<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="/" title="home"><img src={{"intentaware_black.png" | absURL}} width="200"></a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="/" title="home"><img src={{"intentaware_black.png" | absURL}} width="200"></a>
    </div>
    <nav id="top-nav-main">

      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra">
      <ul>
        <li>
          Excited ? Call us 1-805-816-7853
          <div id=ia></div>
        </li>

      </ul>
    </nav>
  </div>
  <!-- IA Own Script -->
  <script>(function(){document.intentaware="hKRzMaEiCwp9GuJ68eerdd";document.assetID="iEE3Nh2EpuHBYNB5pcE4ZL";var b=document.currentScript.parentNode,a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://app.intentaware.com/magneto/guages.js";b.appendChild(a)})();</script>
<div id=ia>
<script>(function(){document.intentaware="hKRzMaEiCwp9GuJ68eerdd";document.campaignID="20";var b=document.currentScript.parentNode,a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://app.intentaware.com/magneto/aware.js";b.appendChild(a)})();</script></div>
